#note {
    width: calc(100% - 2 * 10px);
    height: auto;
    outline: 2px solid red;
    font-family: monospace;
    margin: 0;
    padding: 10px;
    font-size: 10pt;
}

#TOC {
    border: 1px solid black;
    padding: 10px;
    width: 250px;
    float: right;
    background: #282c2d;
    margin-left: 3vw;
}

#image {
    width: 30vw;
    padding: 10px;
    float: right;
}

#content {
    overflow-wrap: anywhere;
    text-align: justify;
    padding-right: 4vw;
    padding-left: 1.5vw;
}

body {
    background: #313537;
    color: lightgray;
    font-family: 'IM Fell DW Pica', sans-serif;
    font-size: 14pt;
}

a:link, a:visited {
    color: rgba(255, 80, 80, 1);
    text-decoration: none;
}

/* mouse over link */
a:hover, a:active {
    color: rgba(180, 0, 0, 1);
}